__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Environments
*.spec
.env
.venv
env/
venv/
*.build/
build/
*.dist/
dist/

# Build script (local only)
build.bat

# Local testing tool
test.py

# IDEs
.vscode/
.idea/
*.swp